@font-face {
	font-family: "pokefont";
	src: url(../pokefont.ttf);
}

input[type=submit] {
	font-family: "pokefont";
	font-size: 20px;
}

#navbar {
	padding: 6px;
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	/* height: 40px; */
	color: #f7f7e7;
	background-color:#393e46;
	font-family: "pokefont";
	z-index: 2;
	justify-content: space-between;
}

#navbar > * {
	margin: auto 16px;
}

#navbar h1 {
	display: inline-block;
	font-size: 16px;
	white-space: nowrap;
}

.nav{
	box-sizing: border-box;
	display: inline-block;
	font-size: 16px;
	padding: 5px;
	width: 20px;
	flex-grow: 2.2;
	cursor: pointer;
	text-align: center;
	border: 1px solid #474c53;
	border-radius: 3px;
}

li.nav:hover{
  background-color:#474c53
}

.nav-right-side {
	white-space: nowrap;
	/* margin: auto; */
}

.logout{
  padding: 0 60px 0 40px;
  cursor: pointer;
  font-size:20px;
  color: #f7f7e7;
}

.logout:hover{
  background-color:#474c53;
}
        
.ulnav {
	font-size: 0;
	font-weight: bold;
	flex-basis: 950px;
	flex-shrink: 1.5;
	display: flex;
}
        
button {
	font-family: "pokefont";
	display:inline-block;
  	cursor: pointer;
}

.top-screen-lights {
	width: 50%;
	margin-top: 2px;
	display: flex;
	justify-self: center;
	justify-content: center;
	align-items: center;
}

.light {
	border: solid black 1px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	margin-right: 7px;
	background: red;
}

.line {
	width: 18px;
	height: 2px;
	background-color: black;
	margin-top: 8px;
	display: block;
}

.button {
	font-family: "pokefont";
	font-size: 20px;
	color: #356ABC;
	background-color: #ffcd00;
	border-radius: 40px;
	border: 3px solid #356ABC;
	display:inline-block;
}

.submitbutton {
	font-family: "pokefont";
	font-size: 20px;
	color: #356ABC;
	background-color: #ffcd00;
	border-radius: 40px;
	border: 3px solid #356ABC;
	display:inline-block;
  cursor: pointer;
}

.searchbutton {
	font-family: "pokefont";
	font-size: 15px;
	color: #356ABC;
	background-color: #ffcd00;
	border-radius: 40px;
	border: 3px solid #356ABC;
  cursor: pointer;
}

h1 {
	font-family:"pokefont";
}

.boxed {
	border: 5px solid #356ABC;
	border-radius: 25px;
	border-style: double;
	background: #Eaeeef;
	padding: 20px;
	height: auto;
	margin: auto;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-family:"pokefont";
	box-sizing: border-box;
}

#success{
  /*-webkit-animation: type 2s steps(60, end);*/ 
  font-family: 'pokefont'; 
  font-size: 40px; 
  display: none;
  height:auto;  
  padding-top: 1%;
  color: black;
}

@-webkit-keyframes type {
  0%{ 
    width: 0;
  }
  100%{
    width: 100%
  }
}

#main-body-container {
	position: relative;
	height: 550px;
}

#screen-container {
	position: absolute;
	height: 100%;
	right: 0;
	width: 60%;
}

#logo{
  display:block; 
  height:auto; 
  z-index: 1; 
  position: relative; 
  padding-top: 1%; 
  cursor: pointer;
}

#contactSearchResults {
	position: absolute;
	height: 100%;
	left: 0;
	width: 40%;
}
ul {
	list-style-type:none;
	padding: 0;
	margin: 0;
	margin-left: 1em;
  height: 70%;
}

li.selected {
	background-image: url(../images/openpokeball2.png);
	padding:10px;
	font-family: "pokefont";
	font-size: 30px;
	background-repeat: no-repeat;
	display: block;
	background-position: -4px 7px;
	padding-left: 1em;
}

li.unselected {
	background-image: url(../images/pokeball2.png);
	padding:10px;
	font-family: "pokefont";
	font-size: 30px;
	background-repeat: no-repeat;
	background-position: 0 15px;
	display: block;
	padding-left: 1em;
  cursor: pointer;
}

div.boxed {
    display: block;
    text-align: center;
    font-family:"pokefont";
}

div.resultsborder {
	border: 5px solid black;
	background: white;
	padding: 20px;
	height: 350px;
	width: 350px;
	margin: auto;
	display:inline-block;
	border-radius: 0 0 0 17%;
	position: relative;
}

form.results {
	border: 5px solid black;
	border-radius: 5px;
	background: #98cb98;
	padding: 20px;
	height: 250px;
	width: 250px;
	margin: auto;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-family:"pokefont";
	font-size: 30px;
	color: black;
}

.results input {
	font: inherit;
	font-size: 25px;
	border: none;
	outline: none;
	background-color: inherit;
	width: 100%;
}

.results input#phoneNumber {
	width: 70%;
}

[state=emptymode] .results {
	color: darkslategrey;
	background-color: #7da77d;
}

[state=emptymode] .bottom-button-container,
[state=emptymode] #editbutton,
[state=emptymode] #deletebutton {
	display: none;
}

[state=viewingmode] .bottom-button-container {
	display: none;
}

[state=createmode] #editbutton, 
[state=createmode] #deletebutton {
	display: none;
}

[state=editmode] #addbutton, 
[state=editmode] #deletebutton {
	visibility: hidden;
}


.side-button-container {
	position: absolute;
	right: 0;
	top: 30px;
	width: 45px;
}
.side-button-container > .button {
	margin: 0 0 5px 0;
}

.bottom-button-container {
	position: absolute;
	bottom: 22px;
	right: 74px;
}

#cancelbutton {
	background-color: rgb(252, 82, 52);
	color: #054097;
	margin-left: 5px;
}

body {
	/*background-image: url("https://wallpapercave.com/wp/wp2432933.jpg");*/
  background-image: url(../images/pokewallpaper3.png);
	background-repeat: repeat;
	background-size: cover;
	background-color: #cccccc;
}

.page-wrap {
	position: relative;
	width: 75%;
	min-width: 766px;
	margin: auto;
}